body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.file-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.file-upload-container input[type="file"] {
    display: none;
}

.file-upload-container label {
    background-color: #f1f1f1;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.file-upload-container label:hover {
    background-color: #ddd;
}

#file-selected {
    user-select: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.uploaded-pdf {
    display: none;
}

.uploaded-pdf h2 {
    margin-bottom: 10px;
}
